/* FORMS PAGE */

#all-forms-title {
    text-align: center;
    padding: 1em 0 1em;
}

#adopt-section,
#foster-section,
#volunteer-section,
#sponsor-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.looking-to {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#adopt-image,
#foster-image,
#volunteer-image,
#sponsor-image {
    padding-left: 10em;
}

#all-forms-table {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-spacing: 5px 5rem;
    padding-left: 5em;
}

#view-animals-here {
    background-image: radial-gradient(
        circle 1500px,
        var(--clr-berry),
        var(--clr-deep-purple)
    );
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8em 0 12em;
    box-shadow: var(--larger-shadow);
}

#view-animals-text {
    text-align: center;
}

.text-link {
    cursor: pointer;
}
