/* ANIMALS PAGE */

/* SEARCH FILTER*/

#container-search-filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 3em;
    text-align: center;
}

#container-drop-down {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1em;
    margin-top: 1em;
}

#search-filter {
    background-color: var(--clr-stone);
    max-width: 30em;
    padding: 1.5em;
    box-shadow: var(--smaller-shadow);
}

#filter-submit {
    background-color: var(--clr-deep-purple);
    width: 90px;
    height: 30px;
    border: none;
    padding: 0;
    margin: 0;
}

#filter-submit:hover {
    background-color: var(--clr-paper);
    color: var(--clr-deep-purple);
}

#animal-select {
    width: 200px;
    border-radius: 0.2em;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    padding: 0.2em;
}

.drop-down-option {
    color: gray;
    font-family: 'Montserrat', sans-serif;
}

/* ANIMALS GRID */

#animal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3em;
    place-items: center;
}

.animal-block {
    width: 20em;
    height: 20em;
    position: relative;
}

.animal {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PAGINATION */

#pagination-section {
    display: flex;
    justify-content: center;
}
.pagination {
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

ul {
    margin: 20px 30px;
}

.link {
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    line-height: 45px;
    border-radius: 50%;
}

.link.active {
    color: var(--clr-paper);
    font-weight: 800;
    background-image: linear-gradient(
        var(--clr-deep-purple),
        var(--clr-deep-purple)
    );
    background-repeat: no-repeat;
}

.btn1,
.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    border: none;
    color: var(--clr-slate);
    border-color: none;
    border-radius: 7px;
    padding: 0.5rem;
    min-width: 60px;
    min-height: 60px;
    box-shadow: none;
    transition: transform 0.3s;
    margin-top: 0;
    cursor: pointer;
}

.btn1:hover,
.btn2:hover {
    background-color: transparent;
}

.btn1 img {
    width: 40px;
    margin-right: 10px;
    transform: scaleX(-1);
}

.btn2 img {
    width: 40px;
    margin-left: 10px;
}
