/* FORMS STYLES */

/* ALIGN BACK BUTTON AND FORM */

/* FADE IN ON LOAD */
.container {
    animation: fadeIn 1.5s;
    margin: 5em 0 5em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

/* FORM SYLING */

#regForm {
    background-color: var(--clr-paper);
    padding: 40px;
    width: 70%;
    min-width: 475px;
    max-width: 845px;
    box-shadow: var(--smaller-shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* Style the input fields & labels*/
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: var(--ff-body);
    border: 1px solid #aaaaaa;
    background-color: var(--clr-paper);
    color: var(--clr-deep-purple);
    margin-bottom: 30px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px solid var(--clr-deep-purple);
}

label {
    color: var(--clr-deep-purple);
    font-family: var(--ff-body);
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;

    max-width: 450px;
    text-align: start;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04aa6d;
}

.form-title {
    margin-bottom: 30px;
    text-align: center;
}

#radio-button-questions,
.check-options {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    margin-bottom: 30px;
}

.check-options {
    margin: 1em;
    justify-content: flex-start;
}

#check-box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-left: 0.5em;
}

.radio-button,
.checkbox {
    width: 100%;
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    margin: 0;
}

textarea {
    background-color: var(--clr-paper);
    border-radius: 3px;
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    padding: 0.5em;
    margin: 10px 0 30px;
}

/* Remove number scrollers*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#state-zip {
    display: flex;
    gap: 1em;
}

form button {
    width: 110px;
    height: 45px;
    margin: 0 20px 0;
    background-color: var(--clr-deep-purple);
    font-weight: var(--font-weight-semi-bold);
}

form button:hover {
    background-color: var(--clr-berry);
    border-color: var(--clr-berry);
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* SPECIFICS */

#status-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: var(--ff-body);
    font-size: 0.875rem;
    gap: 2em;
    margin-bottom: 3em;
    margin-left: 1em;
    color: var(--clr-deep-purple);
    cursor: default;
}

.notice {
    font-size: 0.875rem;
    font-family: var(--ff-body);
    color: var(--clr-berry);
    margin-bottom: 3em;
    text-align: center;
}

#drop-down-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#animals-available-dropdown-menu,
#home-type-dropdown-menu {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
}

/* BACK TO ALL FORMS */
#back-to-forms-button {
    background-color: var(--clr-paper);
    color: var(--clr-slate);
    border-color: var(--clr-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-400);
    font-weight: var(--font-weight-semi-bold);
    gap: 0.5em;
    animation: fadeIn 1.5s;
    margin-bottom: 0.5em;
}

/* SMALL SCREEN */

@media (max-width: 50em) {
    .form-title {
        font-size: 1.3rem;
    }
    #state-zip {
        flex-direction: column;
        gap: 0;
    }
}
