/* FORMS STYLES */

#volunteer-form,
#adoption-form,
#foster-form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5em 0 5em;
    gap: 1em;
}

#back-to-forms-button {
    background-color: var(--clr-paper);
    color: var(--clr-slate);
    border-color: var(--clr-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-400);
    font-weight: var(--font-weight-semi-bold);
    gap: 0.5em;
    animation: fadeIn 1.5s;
    margin-bottom: 0.5em;
}

.container {
    width: 700px;
    height: 900px;
    background: var(--clr-paper);
    border-radius: 5px;
    position: relative;
    box-shadow: var(--smaller-shadow);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1.5s;
    overflow: hidden;
}

.container form {
    width: 600px;
    position: absolute;
    top: 60px;
    /* left: 40px; */
    transition: 0.5s;
}

.center-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.form-title {
    margin-bottom: 30px;
}

.input-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    text-align: start;
}

input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid var(--clr-deep-purple);
    font-family: var(--ff-body);
    background-color: var(--clr-paper);
    max-width: 350px;
    min-width: 450px;
    max-height: 35px;
    min-height: 35px;
    margin-bottom: 30px;
    font-weight: 500;
}
#radio-button-questions,
.check-options {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1em;
    margin-bottom: 30px;
}

.check-options {
    margin: 1em;
    justify-content: flex-start;
}

#check-box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
}

.radio-button,
.checkbox {
    width: 100%;
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;
    margin: 0;
}

textarea {
    background-color: var(--clr-paper);
    border-radius: 3px;
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    padding: 0.5em;
    margin: 10px 0 30px;
}

/* REQUIRED */

.required::after {
    content: ' *';
    color: red;
    font-size: 20px;
}

/* Remove number scrollers*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    color: var(--clr-deep-purple);
    font-family: var(--ff-body);
}

#state-zip {
    display: flex;
    gap: 1em;
}
#state-zip input {
    max-width: 217px;
    min-width: 217px;
}

.btn-box {
    width: 100%;
    text-align: center;
}

form button {
    width: 110px;
    height: 45px;
    margin: 0 20px 0;
    background-color: var(--clr-deep-purple);
    font-weight: var(--font-weight-semi-bold);
}

form button:hover {
    background-color: var(--clr-berry);
    border-color: var(--clr-berry);
}

/* FORM PAGES*/

#form2,
#form3,
#form4,
#form5 {
    left: 750px;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* SPECIFICS */

#status-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: var(--ff-body);
    font-size: 0.875rem;
    gap: 2em;
    margin-bottom: 1em;
    color: var(--clr-deep-purple);
    cursor: default;
}

.notice {
    font-size: 0.875rem;
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    margin-bottom: 1em;
    text-align: center;
}

#drop-down-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#animals-available-dropdown-menu,
#home-type-dropdown-menu {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
}

/* SMALL SCREEN */

@media (max-width: 50em) {
    #form-center {
        align-items: center;
    }
    .container {
        width: 480px;
    }
    .container form {
        width: 480px;
        left: 0;
        top: 30px;
    }
    input {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        border-bottom: 1px solid var(--clr-deep-purple);
        font-family: var(--ff-body);
        background-color: var(--clr-paper);
        max-width: 350px;
        min-width: 350px;
        max-height: 35px;
        min-height: 35px;
        margin-bottom: 30px;
        font-weight: 400;
    }
    .input-info {
        max-width: 350px;
    }
    textarea {
        max-width: 350px;
    }
    .center-input {
        justify-content: center;
        align-items: center;
    }
    .form-title {
        font-size: 1.3rem;
    }
    #state-zip {
        flex-direction: column;
        gap: 0;
    }
    #state-zip input {
        max-width: 350px;
        min-width: 350px;
    }
}
