/* FORMS STYLES */

#volunteer-form {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5em 0 5em;
    gap: 1em;
}

#back-to-forms-button {
    background-color: var(--clr-paper);
    color: var(--clr-slate);
    border-color: var(--clr-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-400);
    font-weight: var(--font-weight-semi-bold);
    gap: 0.5em;
    animation: fadeIn 1.5s;
    margin-bottom: 0.5em;
}

.container {
    width: 700px;
    height: 900px;
    background: var(--clr-paper);
    border-radius: 5px;
    position: relative;
    box-shadow: var(--smaller-shadow);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    animation: fadeIn 1.5s;
}

.container form {
    width: 600px;
    position: absolute;
    top: 100px;
    left: 40px;
}

.center-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    margin-bottom: 50px;
}

.input-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid var(--clr-deep-purple);
    font-family: var(--ff-body);
    background-color: var(--clr-paper);
    max-width: 350px;
    min-width: 450px;
    max-height: 35px;
    min-height: 35px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* Remove number scrollers*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    color: var(--clr-deep-purple);
    font-family: var(--ff-body);
}

#state-zip {
    display: flex;
    gap: 1em;
}
#state-zip input {
    max-width: 217px;
    min-width: 217px;
}

.btn-box {
    width: 100%;
    text-align: center;
}

form button {
    width: 110px;
    height: 45px;
    background-color: var(--clr-deep-purple);
    font-weight: var(--font-weight-semi-bold);
}

form button:hover {
    background-color: var(--clr-berry);
    border-color: var(--clr-berry);
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
