/* HOME PAGE */

#main-content-home {
    min-height: 100vh;
}

#section-1-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 10rem;
}

#donate-home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#adopt-button {
    width: 220px;
}

#girl-cat-picture {
    height: 25em;
    width: auto;
}

#section-2-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12em;
    background-image: linear-gradient(var(--clr-stone), var(--clr-slate));
}
