@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:wght@400;500;700&display=swap');

:root {
    --clr-deep-purple: #26070e;
    --clr-paper: #f3f3f3;
    --clr-golden-rod: #c98228;
    --clr-daffodil: #f5d97f;
    --clr-blue-jay: #3972b6;
    --clr-sky: #c0dff1;
    --clr-slate: #91b0a9;
    --clr-stone: #c7cec5;
    --clr-berry: #74365f;
    --clr-mountain-pink: #d889b4;

    --ff-body: 'Montserrat', sans-serif;
    --ff-accent: 'Chewy', cursive;

    --font-weight-regular: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;

    --fs-400: 1.3rem;
    --fs-500: 1.875rem;
    --fs-600: 2.5rem;

    --larger-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    --smaller-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Utility Classes */

.text-main-400 {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-regular);
}

.text-main-bold-400 {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-bold);
}

.text-highlight-bold-400 {
    font-family: var(--ff-body);
    color: var(--clr-berry);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

.text-highlight-bold-500 {
    font-family: var(--ff-body);
    color: var(--clr-berry);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-bold);
}

.text-main-title-500-reg {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-regular);
}

.text-main-title-500-bold {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-bold);
}

.text-question-500-bold {
    font-family: var(--ff-body);
    color: var(--clr-berry);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-bold);
}

.text-search-500-semi {
    font-family: var(--ff-body);
    color: var(--clr-berry);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-semi-bold);
}

.text-accent-500-bold {
    font-family: var(--ff-accent);
    letter-spacing: 0.1rem;
    color: var(--clr-deep-purple);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-bold);
}

.text-accent-500-bold-berry {
    font-family: var(--ff-accent);
    letter-spacing: 0.1rem;
    color: var(--clr-berry);
    font-size: var(--fs-500);
    font-weight: var(--font-weight-bold);
}
.text-accent-800-bold-berry {
    font-family: var(--ff-accent);
    letter-spacing: 0.1rem;
    color: var(--clr-berry);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-bold);
}

.text-paper-400 {
    font-family: var(--ff-body);
    color: var(--clr-paper);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-regular);
}

.text-paper-400-bold {
    font-family: var(--ff-body);
    color: var(--clr-paper);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-bold);
}

.text-paper-600-reg {
    font-family: var(--ff-body);
    color: var(--clr-paper);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-regular);
}

.text-paper-600-chewy {
    font-family: var(--ff-accent);
    color: var(--clr-paper);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-regular);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.text-slate-400-reg {
    font-family: var(--ff-body);
    color: var(--clr-slate);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-regular);
}

.text-slate-400-bold {
    font-family: var(--ff-body);
    color: var(--clr-slate);
    font-size: var(--fs-400);
    font-weight: var(--font-weight-bold);
}

.text-slate-600-bold {
    font-family: var(--ff-body);
    color: var(--clr-slate);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-bold);
}

.text-purple-600-bold {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-bold);
}

.text-main-title-600-semi-bold {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-semi-boldold);
}

.text-main-title-600-semi-bold-underline {
    font-family: var(--ff-body);
    color: var(--clr-deep-purple);
    font-size: var(--fs-600);
    font-weight: var(--font-weight-semi-boldold);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.text-link {
    color: var(--clr-mountain-pink);
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: var(--font-weight-bold);
}

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    /* font: inherit; */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    /* line-height: 1.5; */
    overflow: auto;
    background-image: url('../images/paper.jpg');
    overflow: auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* a:link {
    text-decoration: none;
} */
a:visited {
    text-decoration: none;
}

/* ✨ START HERE ✨ */

html,
body {
    height: 100%;
}

li {
    cursor: pointer;
}

/* BUTTONS GENERAL*/

button {
    color: var(--clr-paper);
    background-color: var(--clr-berry);
    border: 3px solid;
    border-color: var(--clr-berry);
    border-radius: 7px;
    padding: 0.5rem;
    width: 175px;
    height: 60px;
    box-shadow: var(--larger-shadow);
    transition: transform 0.3s;
    margin-top: 0.5rem;
    font-family: var(--ff-body);
    cursor: pointer;
}

button:hover {
    background-color: var(--clr-mountain-pink);
    border-color: var(--clr-paper);
}

button:active {
    transform: scale(1.03);
}

/* HEADER */

.current-page {
    color: var(--clr-berry);
    font-weight: var(--font-weight-bold);
}

#header-logo,
#header-profile {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
}

header {
    display: flex;
    flex-direction: column;
}

#donate-button-header {
    width: 110px;
    height: 45px;
    margin: 0;
    box-shadow: none;
    text-align: center;
    background-color: var(--clr-deep-purple);
    border-color: var(--clr-berry);
}

#donate-button-header:hover {
    background-color: var(--clr-berry);
}

#header-section-1,
#header-list,
#header-section-1-left,
#footer-list {
    display: flex;
    align-items: center;
}
#header-section-1 {
    background-color: var(--clr-stone);
    border: 2px solid;
    border-color: var(--clr-paper);
    height: 70px;
}

#header-content-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 4rem 0;
    align-items: center;
}

#text-logo-grid {
    display: grid;
    padding-left: 0.5rem;
}

#header-section-2 {
    background-color: var(--clr-slate);
    box-shadow: var(--smaller-shadow);
    height: 60px;
}

#header-list,
#footer-list {
    justify-content: space-between;
    height: 3.5rem;
    margin: 0 4rem 0;
}

.header-link {
    position: relative;
    text-decoration: none;
}

.header-link:active,
.header-link:focus {
    /* < ------ not sure why focus isn't working*/
    font-weight: var(--font-weight-semi-bold);
    color: var(--clr-berry);
}

.header-link::after {
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--clr-berry);
    position: absolute;
    left: 0;
    bottom: -2.5px;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
}

.header-link:hover::after {
    opacity: 1;
}

.header-link:focus::after {
    opacity: 1;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(var(--clr-stone) 65%, var(--clr-slate));
}

.footer-image {
    height: 5rem;
    width: 5rem;
}

#footer-logo {
    height: 1rem;
    width: 1rem;
}

#stay-connected-footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#stay-connected-text {
    padding: 0.5rem;
}

#footer-facebook-insta-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#footer-final-note,
#footer-end-tag {
    align-self: center;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
}
.footer-link {
    text-decoration: none;
}

.footer-link:hover {
    color: var(--clr-paper);
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: var(--clr-paper);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-sky);
}

::-webkit-scrollbar-corner {
    background: var(--clr-paper);
}
